@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var title = Model.Value<string>("headerTitle");
    if (string.IsNullOrWhiteSpace(title))
    {
      title = Model.Name;
    }

    var imageSource = Model.Value("backgroundImage") != null
      ? Model.Value<IPublishedContent>("backgroundImage")?.Url()
      : string.Empty;  
    var image = !string.IsNullOrWhiteSpace(imageSource)
      ? $"background-image: url({imageSource});"
      : string.Empty;
}
<div class="jumbotron jumbotron-small jumbotron-single d-flex align-items-center" style="@image">
  <div class="container text-center">
    <h1 class="display-2 mb-4">@title</h1>
  </div>
</div>
