<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4789904-0e8c-4b77-9fa0-e6365a695b5c" Alias="Basic Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Basic Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>