<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b8fb029-6302-4394-9e6c-fbd669e344e7" Alias="Product - Reviews - Block List" Level="1">
  <Info>
    <Name>Product - Reviews - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "86426764-a64e-4d06-8b23-c931a1e2367b",
      "label": "{=personName}"
    }
  ]
}]]></Config>
</DataType>