<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4928c922-3afe-49a0-b2f3-4d81fe01bb99" Alias="Product - Product Grid - Block Grid" Level="1">
  <Info>
    <Name>Product - Product Grid - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2473c24d-f505-4f7f-88e7-4a34468c146b",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "{=headline}",
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "66cf64b4-a1be-4797-85a6-9dad17adcc89",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "7818c7bb-126d-4ebb-a4a9-6b2d62d162f5",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "e9e17ebd-cefb-40e1-8ecc-91c2cedaf3ec",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": ""
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": true
}]]></Config>
</DataType>