<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6fd160b8-1a33-4c7f-a740-f8bd39457a84" Alias="blog" Level="1">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-documents color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Blog page which will hold individual blog entries</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c0e69-06fa-79ff-b137-fdb3abccc2ed">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7863ad39-605d-43f0-a1b4-936894f98819" SortOrder="0">blogEntry</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>