<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d60074c-80a6-4e1f-85cf-5527148b7560" Alias="shop" Level="1">
  <Info>
    <Name>Shop</Name>
    <Icon>icon-folders color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="4b09207b-691a-4c78-aa8d-fe9bd5d39a57">header</Composition>
    </Compositions>
    <DefaultTemplate>Shop</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c0f53-8aa2-7e5d-9b35-95206adb35ca">Shop</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0ffdb010-9845-4e1d-945e-dbb857ee6dce" SortOrder="0">product</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>