<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4b98166-d9d5-4d5a-bdad-cd88602729ce" Alias="textPage" Level="1">
  <Info>
    <Name>Text Page</Name>
    <Icon>icon-document-html color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Basic textual page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TextPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c092f-8eb3-73b3-a9b6-e1b03441f5fe">TextPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d4b98166-d9d5-4d5a-bdad-cd88602729ce" SortOrder="0">textPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d5c75d7a-b817-4589-bf2a-fdc584a732b0</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8651fb8a-09c2-4a22-aed0-c349bbae2f9e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>