<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="77cf3c0c-0dd1-48d6-8cb4-15bae21b523d" Alias="Home - Our Partners" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Our partners</Translation>
    <Translation Language="nl-NL">Onze partners</Translation>
  </Translations>
</Dictionary>