<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fe4c1be0-18b3-450a-a4b5-2cda1710df2a" Alias="Home - Our Courses" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Our courses</Translation>
    <Translation Language="nl-NL">Onze cursussen</Translation>
  </Translations>
</Dictionary>