<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b57c9710-ee01-48f1-b294-335f66d6313b" Alias="Home - What Will It Be Today" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">What will it be today?</Translation>
    <Translation Language="nl-NL">Wat wordt het vandaag?</Translation>
  </Translations>
</Dictionary>