<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="63b44469-12d6-4dbf-925b-c7d0b532d4be" Alias="Languages - nl-NL" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Dutch</Translation>
    <Translation Language="nl-NL">Nederlands</Translation>
  </Translations>
</Dictionary>