<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a2eaa926-7a15-4189-a33a-d28fb42272af" Alias="Languages - en-US" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">English</Translation>
    <Translation Language="nl-NL">Engels</Translation>
  </Translations>
</Dictionary>